html{
    background-color: rgb(255, 255, 255);
    min-height: min-content;
    min-width: min-content;
}
header{
    margin: 10px 10px;
    height: 50px;
    width: 97%;
    background-color: rgba(0, 0, 0, 0.568);
    display: flex;
    justify-content: center;
    border-radius: 15px;
    -webkit-box-shadow:0px 0px 95px 19px rgba(255,217,217,0.3);
    -moz-box-shadow: 0px 0px 95px 19px rgba(255,217,217,0.3);
    box-shadow: 0px 0px 95px 19px rgba(255,217,217,0.3);
    font-size: larger ;
    font-weight: bold;
}
.text-on-head{
    text-align: center;
}
a{
    font-family:'OCR A Std', monospace;
    margin: 15px;
    text-decoration: none;
    color:white;
    text-shadow: rgba(255,255,255,0.36) 0px 0px 23px;
}
p{
    font-family:'OCR A Std', monospace;
    color: rgb(172, 172, 172);
    text-shadow: rgba(255,255,255,0.36) 0px 0px 23px;
    padding-left: 20px;
}


.main-blocks{
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    
    
}

.text-block{
    margin-left: 5%;
    display: inline-flex;
    background-color: black;
    flex-wrap: wrap;
    width: 40%;
    color:rgba(52, 42, 42, 0.801);
    border-radius: 20px;
}
.text-block p{
    font-size: larger;
}
.text-block a{
    background-color: rgba(240, 248, 255, 0.308);
    border-radius: 10px;
    padding: 10px;
}


.image-block{
    display: inline-flex;
    flex-wrap: wrap;
    width: 50%;
    background-color: rgb(212, 212, 212);
    border-radius: 20px;
    -webkit-box-shadow:0px 0px 95px 19px rgba(255,217,217,0.3);
    -moz-box-shadow: 0px 0px 95px 19px rgba(255,217,217,0.3);
    box-shadow: 0px 0px 95px 19px rgba(255,217,217,0.3);
    size-adjust: auto;

}
.image-block p{
    font-size: larger;
    color:rgba(0, 0, 0, 0.774);
    padding-left: 20px;
}
.image-block a{
    background-color: rgba(0, 0, 0, 0.377);
    padding: 10px;
    border-radius: 10px;
}
